*{
  font-family: 'Libre Baskerville', serif;
}
body{
  /* background: linear-gradient(180deg,rgba(14, 0, 104, 0.533),rgb(87, 0, 104)); */
  /* background-size: cover; */
  /* background: url(https://cdn.wallpapersafari.com/74/34/PlL5aD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; */

  
}

.App {

  text-align: center;
}







